<h1 class="text-center">Welcome to Quantum Inventions Test by Yessi</h1>
<div id="map" class="map"></div>
<div id="popup" class="ol-popup text-center text-white">
  <a id="share-location" class="btn btn-primary">Share</a>
</div>